.personal-info {
    padding: 12rem;
    width: 124rem;
    height: 124rem;
    border-radius: 12rem;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.personal-info__header-text {
    font-size: 10rem;
    line-height: 150%;
    color: #000000;
}

.personal-info__container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.personal-info__name {
    font-size: 14rem;
    line-height: 105%;
    font-weight: 700;
    color: #000000;
}

.personal-info__specialty {
    font-size: 12rem;
    line-height: 150%;
    font-weight: 500;
    color: #5C5C5C;
}