@import url(../static/fonts/fonts.css);
@import url(./defaults.css);

@import url(./avatar.css);
@import url(./personal.css);
@import url(./languages.css);
@import url(./experience.css);
@import url(./tools.css);

@import url(./education.css);
@import url(./interests.css);
@import url(./contacts.css);


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 10rem 20rem;
}

.header h1 {
  font-size: 24rem;
  margin: 0;
}

.button {
  padding: 10rem 20rem;
  font-size: 12rem;
  cursor: pointer;
  border-radius: 40rem;
  background: #f0f0f0;
}

.button:hover {
  background: #e0e0e0;
}

.page {
  padding: 20rem;
}

.resume {
  background: #fff;
  padding: 15rem 20rem;
  border-radius: 5rem;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
  margin: auto;
  box-sizing: border-box;
}

.block-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-2 {
  margin-top: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 359rem;
}

.block-3 {
  margin-top: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 289rem;
}

.block-right {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 20rem;
}